<h5 class="py-2">Add New User</h5>
<form [formGroup]="userForm" (ngSubmit)="addUser()" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="first_name">First name *</label>
    <input type="text" required formControlName="first_name" name="first_name" [(ngModel)]="user.first_name" class="form-control"
      id="first_name" aria-describedby="emailHelp" placeholder="Enter first name">
  </div>
  <div class="form-group">
    <label for="last_name">Last name *</label>
    <input type="text" required formControlName="last_name" name="last_name" [(ngModel)]="user.last_name" class="form-control"
      id="last_name" aria-describedby="emailHelp" placeholder="Enter last name">
  </div>
  <div class="form-group">
    <label for="email">Email address *</label>
    <input type="email" required formControlName="email" name="email" [(ngModel)]="user.email" class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp" placeholder="Enter email">
    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password *</label>
    <input type="password" required formControlName="password" name="password" [(ngModel)]="user.password" class="form-control"
      id="password" placeholder="Password">
  </div>

  <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Submit</button>
</form>
<div class="alert alert-success mt-2" *ngIf="actionDone !== null" role="alert">
    {{actionDone}}
</div>
<div class="alert alert-danger mt-2" *ngIf="actionError !== null" role="alert">
  {{actionError}}
</div>