<div class="section">
  <div class="brightness">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="Login()">
      <div class="login-container">
        <h5 class="mb-3">Login - Dashboard</h5>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
          formControlName="email" name="email" [(ngModel)]="login.email"
          placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Enter a valid emaill address.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" required class="form-control" id="exampleInputPassword1" 
          formControlName="password" name="password" [(ngModel)]="login.password"
          placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>
</div>

<div class="fixed-action-btn signature">
  جميع الحقوق محفوظة © 2018
</div>