.section{
    width: 100%;
    height: 100vh;
    background: url('../../../../assets/imgs/bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.brightness{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    
}

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
    &-container{
        max-width: 600px;
        max-height: 500px;
        min-width: 300px;
        min-height: 200px;
        padding: 30px;
        width: 400px;
        height: 350px;
        background: rgba(12, 12, 12, 0.8);
        border-radius: 4px;
        position: relative;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
        
    }
}

input[type="email"],input[type="password"]{
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px rgba(0, 0, 0, 0.8);
    color: #aaa;
} 
.signature {
    right: unset;
    left: 23px;
    font-size: 11px !important;
    color: #fff; 
}