<h5 class="py-2">User - {{user?.first_name}}</h5>
<div class="alert alert-danger mt-2" *ngIf="actionError !== null" role="alert">
  {{actionError}}
</div>
<div class="row mt-0 ml-0 mr-0 px-0 py-0">
    <div class="col-12 col-sm-3 user-profile-image">
      <img [src]="user?.avatar  || 'assets/imgs/user.png'">
    </div>
    <div class="col-12 col-sm-9">
        <div class="row py-2">
            <div class="col-6">first name</div>
            <div class="col-6">{{user?.first_name}}</div>
        </div>
        <div class="row py-2">
            <div class="col-6">Last Name</div>
            <div class="col-6">{{user?.last_name}}</div>
        </div>
        <div class="row py-2">
            <div class="col-6">
              <a  class="btn btn-success text-white"  (click)="editUser(user?.id)">Update</a>
            </div>
            <div class="col-6">
              <a  class="btn btn-danger text-white" (click)="deleteUser(template)">Delete</a>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
