<div class="layout">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/dashboard']">Parent.eu</a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseBasic">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/dashboard']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/dashboard','users']">Users</a>
              <a class="dropdown-item" [routerLink]="['/dashboard','users','add']">Add User</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav right">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/logout']">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div>© Copyright AA - ayman2243@gmail.com / +201201035118</div>
  </footer>
</div>