@import '../../../../styles.scss';
nav, .dropdown-menu{
    @extend %md-design;
}

.layout {
    position: relative;
    width: 100vw;
    height: 100vh;
    //overflow: hidden;
}

main{
    padding: $padding-div-100;
    padding-top: 20px;
    overflow: auto;
    width: 100vw;
}
footer{
    
    font-style: italic;
    font-size: $font-size;
    padding: $padding-div-100;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    //@extend %md-design;
}