<h5 class="py-2">All Users</h5>
<div class="mt-2 mb-3">
  <div class="toolbar">
    <li class="float_left">
      <a  class="btn btn-success" [routerLink]="['/dashboard','users','add']">Add New User</a>
    </li>
    <li class="float_right">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Filter"
            aria-describedby="inputGroupPrepend2" #filterInput required>
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </form>
    </li>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filterUsers: filterInput.value" (click)="viewUser(user.id)">
        <td><img [src]="user.avatar || 'assets/imgs/user.png'" class="avatar rounded-circle" /></td>
        <td>{{user.id}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="margin-20_x text-center">
  <div class="d-inline-block">
    <pagination 
      [totalItems]="pagination?.total" 
      [itemsPerPage]="pagination?.per_page" 
      [maxSize]="5" 
      [(ngModel)]="currentPageNumber" 
      (pageChanged)="pageChanged($event)">
    </pagination>
  </div>

</div>