/* You can add global styles to this file, and also import other style files */

$font-stack:    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$primary-color: #000;
$font-size: 14px;
$padding-div-100: 0.5rem 1rem;
%md-design{
    box-shadow: 0px 0px 10px #dadada;
}
$padding-buttons : 10px 0.75rem;


.float{
    &_right{
        float: right;
    }
    &_left{
        float: left;
    }
}

.toolbar{
    overflow: hidden;
    list-style: none;
}
.btn{
    padding: $padding-buttons;
}
body, .dropdown-menu, .btn{
    font: $font-size $font-stack;
}